<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web sayt</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <link rel="stylesheet" href="../icon/css/all.min.css" />
  </head>
  <body>
    <header id="header">
      <div class="container">
        <div class="logo">
          <i class="fas fa-globe fas2"> </i>
          <h1 class="logo_text">KIUF IT</h1>
        </div>

        <nav class="nav">
          <ul>
            <li>
              <a href="#" class="active"
                ><i class="fas fa-home fas1"></i> Home
              </a>
            </li>
            <li>
              <a href="../about/about.html"
                ><i class="fas fa-portrait fas1"></i>About</a
              >
            </li>
            <li>
              <a href="../gallery/gallery.html"
                ><i class="fas fa-image fas1"></i> My Family
              </a>
            </li>
            <li>
              <a href="../contact/contact.html"
                ><i class="fas fa-phone fas1"></i>Videos
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div id="banner">
      <h1>Noilaxon Ne`matjonova</h1>
    </div>
    <footer>
      <p>&copy; Web programming 2024</p>
    </footer>
  </body>
</html>
